body {
  font-family: Oxygen-Sans,sans-serif;
  text-transform: uppercase;
}

.logo {
  float: left;
}

.logo_hh {
  width: 170px;
}

.menu {
  float: left;
  margin-top: 40px;
  width: 1000px;
  color: grey;
}

li {
  text-align: center;
  padding: 2%;
  list-style-type: none;
  display: inline;
  font-weight: bold;
}

li:hover{
  color: black;
}

.become_volunteer {
  border: 1px solid green;
  border-radius: 4px;
  color: green;
}

.become_volunteer:hover {
  border: 1px solid green;
  border-radius: 4px;
  background: green;
  color: white;
}

.band {
  clear: both;
  padding: 50px;
  background:url(teacher.jpg) no-repeat;
  background-size: cover;
}

.donation {
  background: white;
  padding: 2%;
  width: 300px;
}

.featured {
  float: left;
  color: white;
  font-weight: bold;
  background: grey;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
}

.featured:hover {
  float: left;
  color: grey;
  font-weight: bold;
  border: 1px solid grey;
  background: white;
  padding: 10px;
  border-radius: 5px;
}

.days {
  float: right;
  margin-top: 26px;
  color: grey;
}

.slogan {
  font-weight: bold;
  clear: both;
}

.lorem1 {
  color: grey;
  text-transform: none;
}

.raised {
  float: left;
  color: grey;
  padding-top: 15px;
  padding-right: 15%;
  border-right: 1px solid grey;
  border-top: 1px solid grey;
}

.big_green{
  font-size: 1.5em;
  font-weight: bold;
  color: green;
}

.goal {
  float: left;
  color: grey;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 10%;
  border-left: 1px solid grey;
  border-top: 1px solid grey;
}

.big_black {
  font-size: 1.5em;
  font-weight: bold;
}

.donate {
  clear: both;
  text-align: center;
  font-weight: bold;
  color: white;
  background: green;
  border: 1px solid green;
  padding: 15px;
  border-radius: 5px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.donate:hover {
  clear: both;
  text-align: center;
  font-weight: bold;
  color: green;
  background: white;
  border: 1px solid green;
  padding: 15px;
  border-radius: 5px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.help, .shoutout {
  text-align: center;
}

.help {
  margin-top: 8%;
  color: white;
  font-weight: bold;
  background: grey;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.help:hover {
  margin-top: 8%;
  color: grey;
  font-weight: bold;
  background: white;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.shoutout {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 2%;
}

.choices {
  margin-left: 3%;
}

.icons {
  font-weight: bold;
}

.caption {
  margin: 30px;
}

.blocs {
  text-align: center;
  padding: 1%;
  float: left;
  width: 30%;
}

.none_transform {
  text-transform: none;
}
